<div class="container">
    <h1>Check ticket:</h1>
    <form #ticketForm="ngForm">
      <div class="form-group">
        <label for="Id">ID</label>
        <input type="text" class="form-control" id="Id" 
        required
        [(ngModel)]='ticket.Id' name='Id'>
      </div>
  
      <div class="form-group">
        <label for="AnonymousCustomerId">Anonymous Customer Id</label>
        <input type="text" class="form-control" id="AnonymousCustomerId" 
        [(ngModel)]='ticket.AnonymousCustomerId' name='AnonymousCustomerId'>
      </div>
  
      <div *ngIf="errMsg" class="alert alert-danger">
        {{errMsg}}
      </div>

      <div *ngIf="passMsg" class="alert alert-success">
        {{passMsg}}
      </div>
  
      <button type="submit" class="btn btn-success"
       [disabled]="!ticketForm.form.valid"
       (click)="checkTicket()">Check</button>
  
    </form>
    <hr/>
    <ul *ngFor="let pu of controllerService.pendingUsers">
      <li>
        Name: {{pu.Name}}<br/>
        Lase name: {{pu.LastName}}<br/>
        Birthday: {{pu.Birthday | date: 'short'}}<br/>
        Address: {{pu.address}}<br/>
        Type: {{pu.Type}}<br/>
        <span *ngIf="pu.DocumentUrl">
          <img src="{{pu.DocumentUrl}}"/>
        </span>
        <span *ngIf="!pu.DocumentUrl">
          Documents missing!
        </span> <br/>
        <button (click)="confirm(pu)" class="btn btn-success">Confirm</button>
        <button (click)="deny(pu)" class="btn btn-danger">Deny</button>
      </li>
    </ul>
  </div>