<div class="container">
  <h1>Register:</h1>
  <form #registerForm="ngForm">
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" class="form-control" id="Email" 
      required
      email
      [(ngModel)]='user.Email' name='Email'>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="Password" 
      required
      minlength="6"
      [(ngModel)]='user.Password' name='Password'>
    </div>

    <div class="form-group">
      <label for="ConfirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="ConfirmPassword" 
      required
      minlength="6"
      [(ngModel)]='user.ConfirmPassword' name='ConfirmPassword'>
    </div>

    <div class="form-group">
      <label for="Name">First name</label>
      <input type="text" class="form-control" id="Name" 
      [(ngModel)]='user.Name' name='Name'>
    </div>

    <div class="form-group">
      <label for="LastName">Last name</label>
      <input type="text" class="form-control" id="LastName" 
      [(ngModel)]='user.LastName' name='LastName'>
    </div>

    <div class="form-group">
      <label for="Birthday">Birthday</label>
      <input type="date" class="form-control" id="Birthday" 
      [(ngModel)]='user.Birthday' name='Birthday'>
    </div>

    <div class="form-group">
      <label for="Adress">Adress</label>
      <input type="text" class="form-control" id="Adress" 
      [(ngModel)]='user.Adress' name='Adress'>
    </div>

    <div class="form-group">
      <label for="CustomerTypeId">Select register type</label>
      <select class="form-control" id="CustomerTypeId" required>
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>

    <div *ngIf="errMsg" class="alert alert-danger">
      {{errMsg}}
    </div>

    <button type="submit" class="btn btn-success"
     [disabled]="!registerForm.form.valid"
     (click)="register()">Register</button>

  </form>
</div>