<div class="container">
  <h1>Register:</h1>
  <form #registerForm="ngForm">
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" class="form-control" id="Email" 
      required
      email
      [(ngModel)]='user.Email' name='Email'>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="Password" 
      required
      minlength="6"
      [(ngModel)]='user.Password' name='Password'>
    </div>

    <div class="form-group">
      <label for="ConfirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="ConfirmPassword" 
      required
      minlength="6"
      [(ngModel)]='user.ConfirmPassword' name='ConfirmPassword'>
    </div>

    <div *ngIf="errMsg" class="alert alert-danger">
      {{errMsg}}
    </div>

    <button type="submit" class="btn btn-success"
     [disabled]="!registerForm.form.valid"
     (click)="register()">Register</button>

  </form>
</div>