<div class="container">
  <h1>Login:</h1>
  <form #loginForm="ngForm">
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" class="form-control" id="Email" 
      required
      [(ngModel)]='user.Email' name='Email'>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="Password" 
      required
      [(ngModel)]='user.Password' name='Password'>
    </div>

    <div *ngIf="errMsg" class="alert alert-danger">
      {{errMsg}}
    </div>

    <button type="submit" class="btn btn-success"
     [disabled]="!loginForm.form.valid"
     (click)="login(this.user)">Login</button>

  </form>
</div>